* {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow-x: hidden;
}

p,
a {
    font-family: 'PT Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Vollkorn', serif;
}

h5 {
    font-family: 'Vollkorn', serif;
    color: #a3826c;
}

button {
    background-color: #a3827c;
    color: white;
    padding: 10px 28px;
    border: none;
    cursor: pointer;
}


/* Header */

.heroText {
    font-size: 60px;
    margin-left: 5vw;
    color: white;
    position: relative;
    top: 285px;
}

.HeroImage {
    margin-top: 0;
    background-image: url("../assets/images/IMG_20200714_173546\ \(1\).jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* End of Header */

/* Footer */

.footerHeading {
    font-size: 23px;
    font-weight: 400;
}

.footerA {
    color: #A3826C;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 5px;
}

.footerA:hover {
    font-size: 25px;
    color: #3E3D3D;
}

.footer {
    background-color: #EFEFEE;
    
}

.icon {
    margin-left: 12px;
}

.name {
    font-weight: 700;
}


/* End of Footer */


/* Community section (mobile) */
/* general */

#community {
    background-color: #3e3d3d;
    color: white;
}

.commHead {
    text-align: center;
}

.team {
    height: 40vh;
    width: 50vw;
}

.recipe {
    margin-left: 80px;
}

.fullRecipe {
    font-size: smaller;
}

/* End of Community section */


/* general */

#community {
    background-color: #3e3d3d;
    color: white;
}

.team {
    height: 20vh;
    width: 50vw;
}

.fullRecipe {
    font-size: smaller;
}


/* End of Community section */


/* general */

#community {
    background-color: #3e3d3d;
    color: white;
}

.team {
    height: 40vh;
    width: 50vw;
}

.fullRecipe {
    font-size: smaller;
}


/* End of Community section */




/* Get involved (mobile) */
.involvedSec {
    background-color: #3E3D3D;
    color: white;
    padding: 80px 50px;
}

.details {
    border: 5px solid #EDA443;
    padding: 10px;
    margin: 20px;
    background-color: rgba(146, 219, 146, 0.4);
}


/* End of Get involved section */


/* contact section */
input[type=text],
select,
textarea {
    width: 120%;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.363);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #f2f2f2;
}

input[type=submit] {
    background-color: #a3827c;
    color: white;
    padding: 20px 28px;
    border: none;
    cursor: pointer;
}

.contact {
    position: relative;
    margin-right: 40px;
    
}

.formdiv{

    position: relative;
    margin-top: 50px;
}

#fname{
    position: relative;
    margin-top: 10px;
}
/*end of contact section*/


/* desk   */

@media (min-width: 1200px) and (orientation: landscape) {

    /* Header */
.heroText {
    font-size: 60px;
    margin-left: 5vw;
    color: white;
    position: relative;
    top: 300px;
}

.HeroImage{
    margin-top: 0;
  background-image: url("../assets/images/TrioBanner.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* End of Header */

    /* about css */
    .HeadingOne {
        font-size: 80px;
        margin-left: 3vw;
    }
    .about {
        margin-top: 25vh;
        color: white;
    }
    #carouselExampleControls {
        margin-top: 7vh;
    }
    /* End of About section   */

    
    /* Community section (desktop) */
    .commHead {
        font-size: 60px;
        margin-left: 5vw;
    }

    .imgDiv {
        text-align: center;
    }

    .team {
        text-align: center;
        width: 30vw;
        height: 70vh;
        margin: 0px 20px;
    }

    .recipe {
        margin: 0;
    }

    .exit {
        color: black;
        float: right;
        font-size: 25px;
        font-weight: bold;
        margin-right: 50px;
    }
    /* End of Community section */


    /* quote */
    .quote h1{
        font-size: 50px;
    }
    /* End of Quote */

    /* Get involved (desktop) */
    .involvedSec {
        background-color: #3E3D3D;
        color: white;
        padding: 80px 50px;
    }

    .details {
        border: 5px solid #EDA443;
        margin-right: 15px;
        margin-left: 25vw;
        background-color: rgba(146, 219, 146, 0.4);
        width: 50vw;
    }
    .Register {
        border: 5px dotted #5580AA;
        padding: 10px;
        margin: 0px 20vw;
        background-color: rgba(146, 219, 146, 0.4);
    }
    /* End of Get involved */





    

    /* Footer */

.footerHeading {
    font-size: 23px;
    font-weight: 400;
}

.footerA {
    color: #A3826C;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 5px;
}

.footerA:hover {
    font-size: 25px;
    color: #3E3D3D;
}

.footer {
    background-color: #EFEFEE;
}

.icon {
    margin-left: 12px;
}

.name {
    font-weight: 700;
}


/* End of Footer */

/* contact section*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.363);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #f2f2f2;
}
input[type=submit] {
    background-color: #a3827c;
    color: white;
    padding: 20px 28px;
    border: none;
    cursor: pointer;
}

.names {
    position: relative;
    width: 48%;
    
    padding: 0px;
    display: inline-block;
}

.contact {
    border-radius: 5px;
    padding: 1px;
}

.info {
    position: relative;
    margin-left: 40px;

   

}

.column {
    float: left;
    width: 48%;
    margin-top: 6px;
    padding: 20px;
}

#lname {
    position: relative;
    margin-left: 20px;
}


.row:after {

    content: "";
    display: table;
    clear: both;
}
.hide-on-mobile{
    display: none;
}

/* end of contact section */

}




