              

/* contact section*/



input[type=text],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.363);
   margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #f2f2f2;
    
} 

input[type=submit] {
    background-color:#a3827c ;
    color: white;
    padding: 20px 28px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a3826c;
}


.names{
position: relative;
    width: 48%;
    margin-top: 6px;
    padding: 0px;
    display: inline-block;


}
.contact {
    border-radius: 5px;
    
    padding: 1px;
    
}

.info{
    position: relative;
    margin-left: 40px;
}
.column {
    float: left;
    width: 48%;
    margin-top: 6px;
    padding: 20px;
}

#lname{
    position: relative;
    margin-left: 20px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
/* end of contact section */
